In [1]:
import pandas as pd 
import numpy as np

In [2]:
solar_data = pd.read_csv("Solar Data/Daily Data/Solar 2020 pavagada daily data.csv")
gen_data = pd.read_csv("Gen Data/FORTUM SOLAR 250MW Gen Data.csv")

In [3]:
solar_data.head()

,Month,Day,Temperature,Cloud Type,Relative Humidity,Aerosol Optical Depth,Clearsky DHI,Clearsky DNI,Clearsky GHI,DHI,DNI,GHI
0,1,1,23.229167,1,78.188750,0.193379,122.000000,641.272727,504.363636,126.727273,623.909091,500.090909
1,1,2,23.912500,1,79.258333,0.205483,109.545455,688.636364,511.454545,129.000000,616.000000,473.000000
2,1,3,25.445833,1,72.840000,0.308642,143.363636,596.272727,503.545455,161.181818,545.090909,483.636364
3,1,4,24.800000,2,73.437917,0.412467,171.454545,536.454545,499.090909,170.818182,506.272727,488.909091
4,1,5,23.820833,1,75.658333,0.323179,161.272727,567.909091,502.727273,176.363636,510.300000,460.727273

In [4]:
solar_data.count()

Month                    366
Day                      366
Temperature              366
Cloud Type               366
Relative Humidity        366
Aerosol Optical Depth    366
Clearsky DHI             366
Clearsky DNI             366
Clearsky GHI             366
DHI                      366
DNI                      366
GHI                      366
dtype: int64

In [5]:
gen_data.head()

,Station,Operational Capacity(MW),Actual Generation(Mu),Month,Day,Latitude,Longitude
0,FORTUM SOLAR,250.0,1.67,12,10,14.23,77.46
1,FORTUM SOLAR,250.0,1.68,12,11,14.23,77.46
2,FORTUM SOLAR,250.0,1.67,12,12,14.23,77.46
3,FORTUM SOLAR,250.0,1.19,12,13,14.23,77.46
4,FORTUM SOLAR,250.0,0.96,11,13,14.23,77.46

In [6]:
# Find days present in solar_data but missing in gen_data
solar_days = set(zip(solar_data['Month'], solar_data['Day']))
gen_days = set(zip(gen_data['Month'], gen_data['Day']))

missing_in_gen = solar_days - gen_days
missing_in_solar = gen_days - solar_days

print("Days present in solar_data but missing in gen_data:")
for month, day in sorted(missing_in_gen):
    print(f"Month: {month}, Day: {day}")

print("\nDays present in gen_data but missing in solar_data:")
for month, day in sorted(missing_in_solar):
    print(f"Month: {month}, Day: {day}")

Days present in solar_data but missing in gen_data:
Month: 1, Day: 1
Month: 1, Day: 2
Month: 1, Day: 3
Month: 1, Day: 4
Month: 1, Day: 5
Month: 1, Day: 6
Month: 1, Day: 7
Month: 1, Day: 8
Month: 1, Day: 9
Month: 1, Day: 10
Month: 1, Day: 11
Month: 1, Day: 12
Month: 1, Day: 13
Month: 1, Day: 14
Month: 1, Day: 15
Month: 1, Day: 16
Month: 1, Day: 17
Month: 1, Day: 18
Month: 1, Day: 19
Month: 1, Day: 20
Month: 1, Day: 21
Month: 1, Day: 22
Month: 1, Day: 23
Month: 1, Day: 24
Month: 1, Day: 25
Month: 1, Day: 26
Month: 1, Day: 27
Month: 1, Day: 28
Month: 1, Day: 29
Month: 1, Day: 30
Month: 1, Day: 31
Month: 2, Day: 1
Month: 2, Day: 2
Month: 2, Day: 3
Month: 2, Day: 4
Month: 2, Day: 5
Month: 2, Day: 6
Month: 2, Day: 7
Month: 2, Day: 8
Month: 2, Day: 9
Month: 2, Day: 10
Month: 2, Day: 11
Month: 2, Day: 12
Month: 2, Day: 13
Month: 2, Day: 14
Month: 2, Day: 15
Month: 2, Day: 16
Month: 2, Day: 17
Month: 2, Day: 18
Month: 2, Day: 19
Month: 2, Day: 20
Month: 2, Day: 21
Month: 2, Day: 22
Month: 2, Day: 23
Month: 2, Day: 24
Month: 2, Day: 25
Month: 2, Day: 26
Month: 2, Day: 27
Month: 2, Day: 28
Month: 2, Day: 29
Month: 3, Day: 1
Month: 3, Day: 2
Month: 3, Day: 3
Month: 3, Day: 4
Month: 3, Day: 5
Month: 3, Day: 6
Month: 3, Day: 7
Month: 3, Day: 8
Month: 3, Day: 9
Month: 3, Day: 10
Month: 3, Day: 11
Month: 3, Day: 12
Month: 3, Day: 13
Month: 3, Day: 14
Month: 3, Day: 15
Month: 3, Day: 16
Month: 3, Day: 17
Month: 3, Day: 18
Month: 3, Day: 19
Month: 3, Day: 20
Month: 3, Day: 21
Month: 3, Day: 22
Month: 3, Day: 23
Month: 3, Day: 24
Month: 3, Day: 25
Month: 3, Day: 26
Month: 3, Day: 27
Month: 3, Day: 28
Month: 3, Day: 29
Month: 3, Day: 30
Month: 3, Day: 31
Month: 4, Day: 1
Month: 4, Day: 2
Month: 4, Day: 3
Month: 4, Day: 4
Month: 4, Day: 5
Month: 4, Day: 6
Month: 4, Day: 7
Month: 4, Day: 8
Month: 4, Day: 9
Month: 4, Day: 10
Month: 4, Day: 11
Month: 4, Day: 12
Month: 4, Day: 13
Month: 4, Day: 14
Month: 4, Day: 15
Month: 4, Day: 16
Month: 4, Day: 17
Month: 4, Day: 18
Month: 4, Day: 19
Month: 4, Day: 20
Month: 4, Day: 21
Month: 4, Day: 22
Month: 4, Day: 23
Month: 4, Day: 24
Month: 4, Day: 25
Month: 4, Day: 26
Month: 4, Day: 27
Month: 4, Day: 28
Month: 4, Day: 29
Month: 4, Day: 30
Month: 5, Day: 1
Month: 5, Day: 2
Month: 5, Day: 3
Month: 5, Day: 4
Month: 5, Day: 5
Month: 5, Day: 6
Month: 5, Day: 7
Month: 5, Day: 8
Month: 5, Day: 9
Month: 5, Day: 10
Month: 5, Day: 11
Month: 5, Day: 12
Month: 5, Day: 13
Month: 5, Day: 14
Month: 5, Day: 15
Month: 5, Day: 16
Month: 5, Day: 17
Month: 5, Day: 18
Month: 5, Day: 19
Month: 5, Day: 20
Month: 5, Day: 21
Month: 5, Day: 22
Month: 5, Day: 23
Month: 5, Day: 24
Month: 5, Day: 28
Month: 5, Day: 29
Month: 5, Day: 30
Month: 5, Day: 31
Month: 6, Day: 1
Month: 6, Day: 2
Month: 6, Day: 3
Month: 6, Day: 4
Month: 6, Day: 5
Month: 6, Day: 6
Month: 6, Day: 7
Month: 6, Day: 8
Month: 6, Day: 9
Month: 6, Day: 10
Month: 6, Day: 11
Month: 6, Day: 12
Month: 6, Day: 13
Month: 6, Day: 14
Month: 6, Day: 15
Month: 6, Day: 16
Month: 6, Day: 17
Month: 6, Day: 18
Month: 6, Day: 19
Month: 6, Day: 20
Month: 6, Day: 21
Month: 6, Day: 22
Month: 6, Day: 23
Month: 6, Day: 24
Month: 6, Day: 25
Month: 6, Day: 26
Month: 6, Day: 27
Month: 6, Day: 28
Month: 6, Day: 29
Month: 6, Day: 30
Month: 7, Day: 1
Month: 7, Day: 2
Month: 7, Day: 3
Month: 7, Day: 4
Month: 7, Day: 5
Month: 7, Day: 6
Month: 7, Day: 7
Month: 7, Day: 8
Month: 7, Day: 9
Month: 7, Day: 10
Month: 7, Day: 11
Month: 7, Day: 12
Month: 7, Day: 13
Month: 7, Day: 14
Month: 7, Day: 15
Month: 7, Day: 16
Month: 7, Day: 17
Month: 7, Day: 18
Month: 7, Day: 19
Month: 7, Day: 20
Month: 7, Day: 21
Month: 7, Day: 22
Month: 7, Day: 23
Month: 7, Day: 24
Month: 7, Day: 25
Month: 7, Day: 26
Month: 7, Day: 27
Month: 7, Day: 28
Month: 7, Day: 29
Month: 7, Day: 30
Month: 7, Day: 31
Month: 8, Day: 1
Month: 8, Day: 2
Month: 8, Day: 3
Month: 8, Day: 4
Month: 8, Day: 5
Month: 8, Day: 6
Month: 8, Day: 7
Month: 8, Day: 8
Month: 8, Day: 9
Month: 8, Day: 10
Month: 8, Day: 11
Month: 8, Day: 12
Month: 8, Day: 13
Month: 8, Day: 14
Month: 8, Day: 15
Month: 8, Day: 16
Month: 8, Day: 17
Month: 8, Day: 18
Month: 8, Day: 19
Month: 8, Day: 20
Month: 8, Day: 21
Month: 8, Day: 22
Month: 8, Day: 23
Month: 8, Day: 24
Month: 8, Day: 25
Month: 8, Day: 26
Month: 8, Day: 27
Month: 8, Day: 28
Month: 8, Day: 29
Month: 8, Day: 30
Month: 8, Day: 31
Month: 9, Day: 1
Month: 9, Day: 2
Month: 9, Day: 3
Month: 9, Day: 4
Month: 9, Day: 5
Month: 9, Day: 6
Month: 9, Day: 7
Month: 9, Day: 8
Month: 9, Day: 9
Month: 9, Day: 10
Month: 9, Day: 11
Month: 9, Day: 12
Month: 9, Day: 13
Month: 9, Day: 14
Month: 9, Day: 15
Month: 9, Day: 16
Month: 9, Day: 17
Month: 9, Day: 18
Month: 9, Day: 19
Month: 9, Day: 20
Month: 9, Day: 21
Month: 9, Day: 22
Month: 9, Day: 23
Month: 9, Day: 24
Month: 9, Day: 25
Month: 9, Day: 26
Month: 9, Day: 27
Month: 9, Day: 28
Month: 9, Day: 29
Month: 9, Day: 30
Month: 10, Day: 1
Month: 10, Day: 2
Month: 10, Day: 3
Month: 10, Day: 4
Month: 10, Day: 5
Month: 10, Day: 6
Month: 10, Day: 7
Month: 10, Day: 8
Month: 10, Day: 9
Month: 10, Day: 10
Month: 10, Day: 11
Month: 10, Day: 12
Month: 10, Day: 13
Month: 10, Day: 14
Month: 10, Day: 15
Month: 10, Day: 16
Month: 10, Day: 17
Month: 10, Day: 18
Month: 10, Day: 19
Month: 10, Day: 20
Month: 10, Day: 21
Month: 10, Day: 22
Month: 10, Day: 23
Month: 10, Day: 24
Month: 10, Day: 25
Month: 10, Day: 26
Month: 10, Day: 27
Month: 10, Day: 28
Month: 10, Day: 29
Month: 10, Day: 30
Month: 10, Day: 31
Month: 11, Day: 1
Month: 11, Day: 2
Month: 11, Day: 3
Month: 11, Day: 4
Month: 11, Day: 5
Month: 11, Day: 6
Month: 11, Day: 7
Month: 11, Day: 8
Month: 11, Day: 9
Month: 11, Day: 10
Month: 11, Day: 11
Month: 11, Day: 12
Month: 11, Day: 16
Month: 11, Day: 17
Month: 11, Day: 18
Month: 11, Day: 19
Month: 11, Day: 22
Month: 12, Day: 31

Days present in gen_data but missing in solar_data:

In [7]:
merged_df = pd.merge(solar_data, gen_data, on=['Month', 'Day'], how='inner')
merged_df.head()

,Month,Day,Temperature,Cloud Type,Relative Humidity,Aerosol Optical Depth,Clearsky DHI,Clearsky DNI,Clearsky GHI,DHI,DNI,GHI,Station,Operational Capacity(MW),Actual Generation(Mu),Latitude,Longitude
0,5,25,33.008333,2,48.652917,0.435329,164.538462,516.461538,564.769231,170.846154,503.846154,560.461538,FORTUM SOLAR,250.0,1.81,14.23,77.46
1,5,26,31.916667,3,54.615833,0.408813,172.615385,502.307692,561.153846,183.615385,479.538462,552.923077,FORTUM SOLAR,250.0,1.65,14.23,77.46
2,5,27,29.616667,4,65.792917,0.333537,152.076923,545.846154,571.230769,152.076923,545.846154,571.230769,FORTUM SOLAR,250.0,1.87,14.23,77.46
3,11,13,23.491667,6,90.308750,0.095146,80.333333,676.750000,501.250000,145.333333,383.800000,328.500000,FORTUM SOLAR,250.0,0.96,14.23,77.46
4,11,14,22.954167,2,88.270000,0.084146,77.166667,705.916667,507.166667,128.416667,518.777778,367.166667,FORTUM SOLAR,250.0,1.01,14.23,77.46

In [8]:
merged_df.count()

Month                       46
Day                         46
Temperature                 46
Cloud Type                  46
Relative Humidity           46
Aerosol Optical Depth       46
Clearsky DHI                46
Clearsky DNI                46
Clearsky GHI                46
DHI                         46
DNI                         46
GHI                         46
Station                     46
Operational Capacity(MW)    46
Actual Generation(Mu)       46
Latitude                    46
Longitude                   46
dtype: int64

In [9]:
merged_df.to_csv("Complete Data/FORTUM SOLAR 250MW Complete Data.csv", index=False)

#### hourly API data

In [2]:
daily_df = pd.read_csv("complete data/FORTUM SOLAR 250MW Complete Data.csv")
daily_df.head()

,Month,Day,Temperature,Cloud Type,Relative Humidity,Aerosol Optical Depth,Clearsky DHI,Clearsky DNI,Clearsky GHI,DHI,DNI,GHI,Station,Operational Capacity(MW),Actual Generation(Mu),Latitude,Longitude
0,5,25,33.008333,2,48.652917,0.435329,164.538462,516.461538,564.769231,170.846154,503.846154,560.461538,FORTUM SOLAR,250.0,1.81,14.23,77.46
1,5,26,31.916667,3,54.615833,0.408813,172.615385,502.307692,561.153846,183.615385,479.538462,552.923077,FORTUM SOLAR,250.0,1.65,14.23,77.46
2,5,27,29.616667,4,65.792917,0.333537,152.076923,545.846154,571.230769,152.076923,545.846154,571.230769,FORTUM SOLAR,250.0,1.87,14.23,77.46
3,11,13,23.491667,6,90.308750,0.095146,80.333333,676.750000,501.250000,145.333333,383.800000,328.500000,FORTUM SOLAR,250.0,0.96,14.23,77.46
4,11,14,22.954167,2,88.270000,0.084146,77.166667,705.916667,507.166667,128.416667,518.777778,367.166667,FORTUM SOLAR,250.0,1.01,14.23,77.46

In [3]:
hourly_df = pd.read_csv("solar data/Hourly Data/Solar 2020 pavagada hourly data.csv")
hourly_df.head(24)

,Year,Month,Day,Hour,Minute,Temperature,Alpha,Aerosol Optical Depth,Asymmetry,Clearsky DHI,...,Fill Flag,GHI,Ozone,Relative Humidity,Solar Zenith Angle,Surface Albedo,Pressure,Precipitable Water,Wind Direction,Wind Speed
0,2020,1,1,0,0,19.4,1.41,0.2949,0.61,0,...,0,0,0.248,97.10,107.55,0.25,947,3.4,119,2.4
1,2020,1,1,1,0,19.5,1.41,0.2904,0.61,0,...,0,0,0.247,96.02,94.01,0.25,948,3.4,116,2.3
2,2020,1,1,2,0,20.7,1.41,0.2821,0.61,65,...,5,104,0.247,88.51,80.72,0.25,949,3.4,111,2.9
3,2020,1,1,3,0,22.2,1.43,0.2615,0.61,122,...,0,318,0.247,78.97,68.12,0.25,950,3.4,109,3.3
4,2020,1,1,4,0,23.7,1.47,0.2342,0.61,146,...,0,528,0.247,69.88,56.43,0.25,950,3.4,107,3.3
5,2020,1,1,5,0,25.2,1.50,0.2048,0.61,152,...,0,694,0.247,62.09,46.45,0.25,950,3.4,99,3.0
6,2020,1,1,6,0,26.5,1.53,0.2132,0.61,163,...,0,792,0.247,55.90,39.49,0.25,949,3.4,89,2.7
7,2020,1,1,7,0,27.8,1.55,0.1851,0.61,154,...,0,826,0.247,50.97,37.30,0.25,948,3.4,80,2.5
8,2020,1,1,8,0,28.7,1.54,0.1620,0.61,141,...,1,784,0.247,47.98,40.67,0.25,946,3.5,76,2.5
9,2020,1,1,9,0,29.0,1.55,0.1908,0.61,144,...,0,664,0.247,46.99,48.45,0.25,946,3.5,75,2.5
10,2020,1,1,10,0,28.6,1.53,0.1772,0.61,121,...,0,444,0.246,47.94,58.90,0.25,946,3.5,72,2.4
11,2020,1,1,11,0,27.2,1.51,0.1745,0.61,93,...,5,279,0.246,53.98,70.84,0.25,946,3.6,66,2.1
12,2020,1,1,12,0,24.4,1.49,0.1754,0.61,41,...,5,68,0.246,72.90,83.57,0.25,947,3.7,62,1.4
13,2020,1,1,13,0,23.6,1.47,0.1759,0.61,0,...,0,0,0.246,74.69,96.99,0.25,948,3.8,67,2.1
14,2020,1,1,14,0,23.0,1.44,0.1750,0.61,0,...,0,0,0.246,77.11,110.58,0.25,949,3.8,77,2.7
15,2020,1,1,15,0,22.2,1.40,0.1758,0.61,0,...,0,0,0.245,82.57,124.33,0.25,949,3.9,83,3.0
16,2020,1,1,16,0,21.5,1.35,0.1768,0.61,0,...,0,0,0.245,88.66,138.12,0.25,950,4.0,84,2.8
17,2020,1,1,17,0,21.0,1.30,0.1780,0.61,0,...,0,0,0.245,93.39,151.77,0.25,949,4.1,82,2.6
18,2020,1,1,18,0,20.6,1.27,0.1763,0.61,0,...,0,0,0.245,97.20,164.60,0.25,949,4.1,77,2.2
19,2020,1,1,19,0,20.5,1.26,0.1682,0.61,0,...,0,0,0.245,98.45,171.11,0.25,948,4.1,74,2.0
20,2020,1,1,20,0,20.5,1.27,0.1556,0.61,0,...,0,0,0.245,98.76,162.02,0.25,947,4.1,75,1.9
21,2020,1,1,21,0,20.5,1.30,0.1461,0.61,0,...,0,0,0.244,99.02,148.88,0.25,947,4.1,79,1.7
22,2020,1,1,22,0,20.6,1.33,0.1384,0.61,0,...,0,0,0.244,98.64,135.18,0.25,947,4.1,87,1.7
23,2020,1,1,23,0,20.6,1.34,0.1289,0.61,0,...,0,0,0.243,98.81,121.38,0.25,947,4.1,96,1.5

In [5]:
hourly_df = hourly_df.drop(columns = ["Year", 'Minute','Asymmetry','Alpha','Dew Point','Fill Flag','Ozone','Solar Zenith Angle','Surface Albedo', 'Pressure', 'Precipitable Water', 'Wind Direction', 'Wind Speed '])

In [6]:
feature_order = ['Month', 'Day', 'Hour', 'Temperature', 'Cloud Type', 'Relative Humidity',
       'Aerosol Optical Depth', 'Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI',
       'DHI', 'DNI', 'GHI']
hourly_df = hourly_df[feature_order]
hourly_df.head(24)

,Month,Day,Hour,Temperature,Cloud Type,Relative Humidity,Aerosol Optical Depth,Clearsky DHI,Clearsky DNI,Clearsky GHI,DHI,DNI,GHI
0,1,1,0,19.4,0,97.10,0.2949,0,0,0,0,0,0
1,1,1,1,19.5,0,96.02,0.2904,0,0,0,0,0,0
2,1,1,2,20.7,3,88.51,0.2821,65,243,104,65,243,104
3,1,1,3,22.2,0,78.97,0.2615,122,527,318,122,527,318
4,1,1,4,23.7,0,69.88,0.2342,146,689,528,146,689,528
5,1,1,5,25.2,0,62.09,0.2048,152,785,694,152,785,694
6,1,1,6,26.5,0,55.90,0.2132,163,815,792,163,815,792
7,1,1,7,27.8,0,50.97,0.1851,154,845,826,154,845,826
8,1,1,8,28.7,0,47.98,0.1620,141,847,784,141,847,784
9,1,1,9,29.0,0,46.99,0.1908,144,784,664,144,784,664
10,1,1,10,28.6,3,47.94,0.1772,121,716,491,173,525,444
11,1,1,11,27.2,3,53.98,0.1745,93,565,279,93,565,279
12,1,1,12,24.4,3,72.90,0.1754,41,238,68,41,238,68
13,1,1,13,23.6,0,74.69,0.1759,0,0,0,0,0,0
14,1,1,14,23.0,0,77.11,0.1750,0,0,0,0,0,0
15,1,1,15,22.2,0,82.57,0.1758,0,0,0,0,0,0
16,1,1,16,21.5,0,88.66,0.1768,0,0,0,0,0,0
17,1,1,17,21.0,0,93.39,0.1780,0,0,0,0,0,0
18,1,1,18,20.6,0,97.20,0.1763,0,0,0,0,0,0
19,1,1,19,20.5,0,98.45,0.1682,0,0,0,0,0,0
20,1,1,20,20.5,0,98.76,0.1556,0,0,0,0,0,0
21,1,1,21,20.5,0,99.02,0.1461,0,0,0,0,0,0
22,1,1,22,20.6,0,98.64,0.1384,0,0,0,0,0,0
23,1,1,23,20.6,0,98.81,0.1289,0,0,0,0,0,0

In [7]:
one_day = hourly_df[hourly_df['Day'] == 30][hourly_df['Month'] == 12]

C:\Users\pratham\AppData\Local\Temp\ipykernel_17820\3015133068.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  one_day = hourly_df[hourly_df['Day'] == 30][hourly_df['Month'] == 12]

In [8]:
one_day["Station"] = "FORTUM SOLAR"
one_day["Operational Capacity(MW)"] = 250
one_day["Latitude"] = 14.23	
one_day["Longitude"] = 77.46

In [9]:
one_day.to_csv("../backend/API data/hourly/FORTUM SOLAR_hourly_api_data.csv", index=False)