In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv("csv_file/2020 complete gen data.csv")
df.head()

,Station,State/Region,Sector,Owner,Type,Operational Capacity(MW),Actual Generation(Mu),Date
0,DADRI SOLAR,Uttar Pradesh,Central,NTPC,Solar,5.0,0.02,4/10/2020
1,SINGRAULI SOLAR,Uttar Pradesh,Central,NTPC,Solar,15.0,0.07,4/10/2020
2,UNCHAHAR SOLAR,Uttar Pradesh,Central,NTPC,Solar,10.0,0.00,4/10/2020
3,MAHOBA SOLAR (UP) PRIVATE LTD,Rajasthan,Private,IPP,Solar,200.0,1.51,4/10/2020
4,ACME CHITTORGARH ENERGY PVT LTD.,Rajasthan,Private,IPP,Solar,250.0,1.51,4/10/2020

In [3]:
station_df = df[df["Station"] == "FORTUM SOLAR"]
station_df.head()

,Station,State/Region,Sector,Owner,Type,Operational Capacity(MW),Actual Generation(Mu),Date
115,FORTUM SOLAR,Karnataka,Private,IPP,Solar,250.0,1.67,12/10/2020
526,FORTUM SOLAR,Karnataka,Private,IPP,Solar,250.0,1.68,12/11/2020
934,FORTUM SOLAR,Karnataka,Private,IPP,Solar,250.0,1.67,12/12/2020
1352,FORTUM SOLAR,Karnataka,Private,IPP,Solar,250.0,1.19,12/13/2020
1581,FORTUM SOLAR,Karnataka,Private,IPP,Solar,250.0,0.96,11/13/2020

In [5]:
station_df.count()

Station                     46
State/Region                46
Sector                      46
Owner                       46
Type                        46
Operational Capacity(MW)    46
Actual Generation(Mu)       46
Date                        46
dtype: int64

In [6]:
station_df["Month"] = station_df["Date"].apply(lambda x: x.split("/")[0])
station_df["Day"] = station_df["Date"].apply(lambda x: x.split("/")[1])

C:\Users\pratham\AppData\Local\Temp\ipykernel_17324\2878917291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df["Month"] = station_df["Date"].apply(lambda x: x.split("/")[0])
C:\Users\pratham\AppData\Local\Temp\ipykernel_17324\2878917291.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df["Day"] = station_df["Date"].apply(lambda x: x.split("/")[1])

In [7]:
station_df.drop(columns=["State/Region","Sector","Owner","Type", "Date"], inplace=True)

C:\Users\pratham\AppData\Local\Temp\ipykernel_17324\1851804699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df.drop(columns=["State/Region","Sector","Owner","Type", "Date"], inplace=True)

In [8]:
station_df.head()

           Station  Operational Capacity(MW)  Actual Generation(Mu) Month Day
115   FORTUM SOLAR                     250.0                   1.67    12  10
526   FORTUM SOLAR                     250.0                   1.68    12  11
934   FORTUM SOLAR                     250.0                   1.67    12  12
1352  FORTUM SOLAR                     250.0                   1.19    12  13
1581  FORTUM SOLAR                     250.0                   0.96    11  13

In [9]:
station_df["Latitude"] = 14.23
station_df["Longitude"] = 77.46

C:\Users\pratham\AppData\Local\Temp\ipykernel_17324\3011713273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df["Latitude"] = 14.23
C:\Users\pratham\AppData\Local\Temp\ipykernel_17324\3011713273.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_df["Longitude"] = 77.46

In [10]:
station_df.to_csv("FORTUM SOLAR 250MW Gen Data.csv", index=False)